.emailverify-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.emailverify-logo {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.emailverify-logo h1 {
    color: var(--Gray-900, #18191C);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin: 3px;
}

.emailverify-form{
    width: 30%;
    height: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
    gap: 20px;
}

.emailverify{
    width: 100%;
    background: #007bff;
    color: white;
    padding: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.emailverify-hd h2{
    color: var(--Gray-900, #18191C);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    margin-bottom: 10px;
    justify-self: center;
    margin-bottom: 30px;
}

.emailverify-container p {
    color: var(--Gray-600, #5E6670);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0%;
    margin-bottom: 30px;
    opacity: 0.8;
    justify-self: center;
    justify-content: center;
    text-align: center;
}
